node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/reporter
/allure-report
/allure-results

# Ignore files with sensitive information
jira/jira-integration.ts
/data/cookies.txt